header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      text-decoration: none;
    }

    a:hover,
    a:active {
      color: lightgray;
    }
  }
}


.active {
  color: #ffffff;

  a {
    color: #ffffff;
  }
}

